@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --primary-600: #0c6d63;
  --primary-500: #12a493;
  --primary-100: #d1edea;

  --secondary-600: #f1f0ec;
  --secondary-500: #f2f1ed;
  --secondary-400: #f1f0ec;
  --secondary-300: #ebeeeb;

  --grey: #a1a1a1;
  --error: #b50808;
  --black: #111729;
}
@layer base {
  ::-webkit-scrollbar {
    @apply w-[5px] h-[5px];
  }

  ::-webkit-scrollbar-track {
    @apply bg-gray-100 bg-clip-padding;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-grey rounded;
  }
}
@layer utilities {
  .main_layout {
    @apply min-h-screen flex flex-col justify-between;
  }
  .Container {
    @apply container mx-auto max-w-[1440px] px-4 md:px-8 lg:px-10 xl:px-[80px];
  }
}
@layer components {
  .nav a.active {
    @apply text-primary-600;
  }
  label {
    @apply text-grey text-base font-medium;
  }
  .input {
    @apply border border-gray-300 active:border-primary-600 outline-none py-1 px-2 rounded-lg focus:border-primary-600 text-primary-600 caret-primary-600  placeholder:text-grey text-sm h-[40px] w-full;
  }
  .input-error {
    @apply border-error;
  }
}
